<div class="row justify-content-center">
    <form class="col-6" #changePasswordForm="ngForm" (ngSubmit)="execForm(changePasswordForm)" invalid>
        <div class="form-floating mb-3">
            <input type="password" class="form-control"
                [ngClass]="{'is-valid': !password1.errors?.['required'] && !password1.errors?.['minlength'], 'is-invalid': password1.errors?.['required'] && password1.touched ||  password1.errors?.['minlength'] || password1.errors?.['pattern']}"
                id="floatingPassword1" placeholder="Password1" name="password1" [(ngModel)]="changePassword.password1"
                #password1="ngModel" required minlength="8" maxlength="8"
                pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[!@#$%^&*])[A-Za-z\d!@#$%^&*]{8}$"
                (input)="comparePassword()">
            <label for="floatingPassword">Nowe hasło</label>
            @if(password1.errors?.['minlength'] || password1.errors?.['pattern']){
            <div class="invalid-feedback">
                Hasło musi mieć 8 znaków oraz zawierać cyfrę, małą i dużą literę oraz znak specjalny!
            </div>
            }@else if(password1.errors?.['required'] && password1.touched){
            <div class="invalid-feedback">
                Nowe hasło jest wymagane!
            </div>
            }
        </div>
        <div class="form-floating mb-3">
            <input type="password" class="form-control"
                [ngClass]="{'is-valid': !password2.errors?.['required'] && !password2.errors?.['minlength'], 'is-invalid': password2.errors?.['required'] && password2.touched || password2.errors?.['minlength'] || password2.errors?.['pattern']}"
                id="floatingPassword2" placeholder="Password2" name="password2" [(ngModel)]="changePassword.password2"
                #password2="ngModel" required minlength="8" maxlength="8"
                pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[!@#$%^&*])[A-Za-z\d!@#$%^&*]{8}$"
                (input)="comparePassword()">
            <label for="floatingPassword">Powtórz nowe hasło</label>
            @if(password2.errors?.['required'] && password2.touched){
            <div class="invalid-feedback">
                Powtórz nowe hasło jest wymagane!
            </div>
            }@else if(password2.errors?.['minlength'] || password2.errors?.['pattern']){
            <div class="invalid-feedback">
                Hasło musi mieć 8 znaków oraz zawierać cyfrę, małą i dużą literę oraz znak specjalny!
            </div>
            }
        </div>
        @if(comparePassw){
        <div class="text-danger">
            Hasła muszą być takie same!
        </div>
        }
        <div class="text-center mt-3">
            <button type="submit" class="btn btn-primary"
                [disabled]="password1.invalid || password2.invalid || comparePassw">
                Zatwierdź
            </button>
        </div>
    </form>
</div>