<div class="row">
    <div class="col-12">
        <input class="form-control me-2" type="search" [placeholder]="placeholder" aria-label="Search" [(ngModel)]="searchText" (input)="search()">
    </div>
    <div class="col-12 mt-1">
        <select class="form-select" aria-label="Branch select" [(ngModel)]="searchText2" (change)="searchB()">
            <option [disabled]="true">{{initialValue}}</option>
            @if(searchText2 !== initialValue){
                <option class="text-danger">Brak</option>
            }
            @for(branch of branches; track $index){
                <option>{{branch}}</option>
            }
        </select>
    </div>
    @if(accessibleCheckBox){
        <div class="col-12 mt-1">
            <input type="checkbox" class="btn-check" id="btnCheckClosedTickets" autocomplete="off"  name="onlyMine" [(ngModel)]="showClosedTickets" (change)="closedTickets()">
            <label class="btn btn-outline-primary col-12" for="btnCheckClosedTickets">Pokaż zamknięte</label>
        </div>
        <div class="col-12 mt-1">
            <input type="checkbox" class="btn-check" id="btnCheckOnlyMine" autocomplete="off"  name="closedTickets" [(ngModel)]="showOnlyMine" (change)="onlyMine()">
            <label class="btn btn-outline-primary col-12" for="btnCheckOnlyMine">Pokaż moje</label>
        </div>
    }
</div>